@using HtmlAgilityPack
@model ArticleViewModel
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if (gt IE 9)]><!-->
<html class="no-js" lang="en">
<head>
    <title>@Model.Title</title>
    @{
        //
        // Inject Telerik resources so that the controls work.
        //
        var htmlDoc = new HtmlDocument();
        htmlDoc.LoadHtml($"<body>{Model.Layout.Head}</body>");

        @if (Model.Layout.Head.Contains("jquery", StringComparison.CurrentCultureIgnoreCase))
        {
            var nodes = htmlDoc.DocumentNode.SelectNodes("//link");
            var bootstraps = nodes.Where(n => n.Attributes.Any(a => a.Name == "href" && a.Value.Contains("bootstrap.min.css", StringComparison.CurrentCultureIgnoreCase) ||
                                                                    a.Value.Contains("bootstrap.css", StringComparison.CurrentCultureIgnoreCase))).ToList();
            if (bootstraps.Count > 0)
            {
                foreach (var bootstrap in bootstraps)
                {
                    htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Remove(bootstrap);
                }
            }
        }

        htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Insert(0, HtmlNode.CreateNode("<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css\" />"));

        htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Insert(1, HtmlNode.CreateNode("<link rel=\"stylesheet\" href=\"https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.common.min.css\" />"));
        htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Insert(2, HtmlNode.CreateNode("<link rel=\"stylesheet\" href=\"https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.materialblack.min.css\" />"));

        htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Insert(3, HtmlNode.CreateNode("<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css\" />"));
        <style>
            .k-toolbar.k-toolbar-resizable {
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                top: 0px;
                right: 0px;
                position: fixed;
                left: 0px;
                z-index: 2;
            }

            .k-widget.k-window.k-window-titleless.k-editor-widget.k-display-inline-flex {
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                top: 0px;
                right: 0px;
                position: fixed !important;
                left: 0px;
                z-index: 2;
            }

            #topNavBar {
                height: 50px;
                z-index: 1;
                width: 100%;
            }

            body > .k-widget {

            }
        </style>
        @if (Model.Layout.Head.Contains("jquery", StringComparison.CurrentCultureIgnoreCase))
        {
            @* Make sure we use the right jQuery *@

            var nodes = htmlDoc.DocumentNode.SelectNodes("//script");
            var jQuery = nodes.FirstOrDefault(n => n.Attributes.Any(a => a.Name == "src" && a.Value.Contains("jquery", StringComparison.CurrentCultureIgnoreCase)));
            if (jQuery == null)
            {
                htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Append(HtmlNode.CreateNode("<script src=\"https://kendo.cdn.telerik.com/2021.1.224/js/jquery.min.js\"></script>"));
            }
            else
            {
                jQuery.Attributes["src"].Value = "https://kendo.cdn.telerik.com/2021.1.224/js/jquery.min.js";
            }
        }
        else
        {
            htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Append(HtmlNode.CreateNode("<script src=\"https://kendo.cdn.telerik.com/2021.1.224/js/jquery.min.js\"></script>"));
        }
        // <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
        // htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Append(HtmlNode.CreateNode("<script src=\"https://use.fontawesome.com/releases/v5.15.1/js/all.js\" data-auto-replace-svg=\"nest\"></script>"));
        htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Append(HtmlNode.CreateNode("<script src=\"https://kendo.cdn.telerik.com/2021.1.224/js/kendo.all.min.js\"></script>"));
        htmlDoc.DocumentNode.ChildNodes[0].ChildNodes.Append(HtmlNode.CreateNode("<script src=\"https://kendo.cdn.telerik.com/2021.1.224/js/kendo.aspnetmvc.min.js\"></script>"));
        @Html.Raw(htmlDoc.DocumentNode.ChildNodes[0].InnerHtml)
        ;
    }
    @if (!string.IsNullOrEmpty(Model.HeaderJavaScript))
    {
        <script>
            @Html.Raw(Model.HeaderJavaScript)
        </script>
    }
</head>
<body>
    <header @Html.Raw(Model.Layout.BodyHeaderHtmlAttributes)>
        <partial name="_EditModeNavBar" model="@Model" />
        <div id="topNavBar"></div>
        @Html.Raw(Model.Layout.HtmlHeader)
    </header>
    <div id="main-content" class="main-content">
        @RenderBody()
    </div>
    <footer @Html.Raw(Model.Layout.FooterHtmlAttributes)>
        @Html.Raw(Model.Layout.FooterHtmlContent)
    </footer>
    @(await RenderSectionAsync("Scripts", false))
    @Html.Raw(Model.Layout.PostFooterBlock)
<script>
    @if (!string.IsNullOrEmpty(Model.FooterJavaScript))
    {
        @Html.Raw(Model.FooterJavaScript)
    }
    var ccmsLangDisplayName = "@(Model.LanguageName ?? "US English")";
</script>
@if (Model?.EditModeOn == false)
{
    <script src="~/ccms/js/GoogleTranslations.js"></script>
}
@if ((Model?.EditModeOn == false) && (bool)ViewData["UseGoogleTranslate"])
{
    <script src="~/ccms/js/GoogleTranslations.js" id="ccms-lang-script" data-lang="@Model.LanguageName"></script>
}
</body>
</html>